body {
    width: 80%;
    margin: auto; /* Deixa o elemento centralizado */
}


/* css relacionado ao grid de listagem dos registros */
table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.coluna-acao {
    text-align: center;/* Centraliza os icones na célula */
}

.alinha-centro {
    text-align: center;
}

.alinha-esquerda {
    text-align: left;
}

.alinha-direita {
    text-align: right;
}




/* css relacionado aos icones de ação */
.botao {
    cursor: pointer;
    padding: 6px 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 1px solid transparent;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    border-radius: 10px;
}

.botao-editar {
    width: 20px;
    height: 20px;
}

.botao-excluir {
    width: 20px;
    height: 20px;
}

.botao-inserir {
    color: #fff;
    background-color: green;
    border-color: green;
    text-decoration: none;
    height: 18px;
}

.botao-buscar {
    color: #fff;
    background-color: blue;
    border-color: blue;
    text-decoration: none;
    height: 32px;
}

.botao-cadastrar {
    color: #fff;
    background-color: blue;
    border-color: blue;
    text-decoration: none;
    height: 32px;
}

.botao-voltar {
    color: #fff;
    background-color: gray;
    border-color: gray;
    text-decoration: none;
    height: 18px;
}




/* css relacionado aos formulários */
input[type=text] {
    width: 99%;
    height: 30px;
    border-radius: 8px;
    border: 2px solid;
}

select {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid;
    background-color: white;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.form-busca {
    width: 100%;
}